<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <title>Курсач</title>
</head>
<body>
    <h1>Курсач</h1>
    <h2>Добавление записи:</h2>
    <form method="post">
        {% csrf_token %}
        <br>
        <label for="text">Текст:</label>
        <input type="text" id="text" name="text">
        <br>
        <button type="submit">Сохранить</button>
    </form>
    <form action="{% url 'index' %}" method="get">
        <button type="submit">Отмена</button>
    </form>
</body>
</html>
