<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    
    <title>Курсач</title>
</head>
<body>
    <h1>Курсач</h1>
    <h2>Список текста:</h2>
    <ul>
        {% for entry in entries %}
            <li>
                {{ entry.uuid }} | {{ entry.text }}
                <form action="{% url 'editEntry' entry.uuid %}" method="get">
                    <button type="submit">Изменить</button>
                </form>
                <form action="{% url 'deleteEntry' entry.uuid %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Удалить</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <form action="{% url 'addEntry' %}" method="get">
        <button type="submit">Добавить</button>
    </form>
</body>
</html>
